/* 문의하기 내용 영역 */
#content .title_area p{font-size: 1.2em;}
#content .content_area section h3{font-size: 2em; font-weight: 700; line-height: 1em; margin-bottom: 30px;}


#content .content_area .slogan{text-align: center;}
#content .content_area .slogan p{font-size: 1.375em; margin: 30px 0 200px 0;}


#content div.control-group{width: 70%; position: relative; left: 50%; transform: translateX(-50%);}
#content div.control-group label{display: block; margin-bottom: 15px; font-size: 1.1em; font-weight: 500;}
#content div.control-group label::after{content: '*'; color: red;}
#content div.control-group input{width: 100%; padding: 20px; border-radius: 5px; border: 1px solid #ddd;
  margin-bottom: 30px;}
#content div.control-group textarea{width: 100%; padding: 10px 20px; border-radius: 5px;
  border: 1px solid #ddd; font-family: 'Noto Sans KR','sans-serif'; height: 250px; resize: none;
  font-weight: 300; font-size: .9em;}

#content div.control-group input:focus{outline-color: #064f9e;}
#content div.control-group textarea:focus{outline-color: #064f9e;}


#content .content_area .inquiry button{background: #064f9e; border: none; color: #fff;
    border-radius: 3px; padding: 10px 20px; position: relative; left: 50%; transform: translateX(-50%);
 font-weight: 700; cursor: pointer; margin: 30px 0 100px 0;}


#content .content_area .inquiry .precautions{width: 70%; margin-left: 15%; text-align: justify;
    margin-bottom: 200px;}
#content .content_area .inquiry .precautions dt{font-weight: 500; margin-bottom: 10px;}
#content .content_area .inquiry .precautions dd{margin-bottom: 8px; line-height: 1.5em;}




/* waypoint 플러그인 scroll */
.slogan{ visibility: hidden;}
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .fadeIn{ visibility: visible; }

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }


  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-70px);
      -ms-transform: translateY(-70px);
      transform: translateY(-70px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }